<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <title>Upside Down Detector</title>
</head>
<style>
    body {
        font-family: 'Recursive', sans-serif;
    }
</style>

<body class="flex flex-col h-screen">
    <div class="container max-w-lg m-auto grow pl-8">
        <h1 class="jumbotron my-8  font text-3xl font-extrabold">Upside Down Classifier</h1>
        <form class="form-horizontal" action="/submit" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="col-sm-10">
                    <label class="control-label col-sm-2" for="pwd">Upload Your Image :</label>
                    <input type="file" class="form-control" placeholder="" name="my_image" id="pwd">
                </div>
            </div>

            <div class="border-2 border-indigo-800 w-1/5 rounded-md flex justify-center my-5">
                <button type="submit" class="btn btn-success font-semibold">Submit</button>
            </div>
        </form>
        {% if prediction %}
        <img src="{{img_path}}" height="200px" width="200px" class="inline-block m-auto">
        <h2> The Uploaded Image is : <i> {{prediction}} </i></h2>
        {% endif %}
    </div>
    <footer class="text-center">&copy; Ashish Papanai 2022 <br> For <em>Fatima Fellowship 2022 </em></footer>
</body>
</html>